@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "ModernDOS8x8";
  src:local("ModernDOS8x8"),
  url('./assets/fonts/ModernDOS8x8.ttf') 
}

@font-face{
  font-family: "ModernDOS8x16";
  src:local("ModernDOS8x16"),
  url('./assets/fonts/ModernDOS8x16.ttf') 
}

/* color variables */
:root {
  /* color-scheme: light dark; */
  color-scheme: dark;

  --color-bg-dark: black;
  --color-bg-light: lightgray;

  --color-text-dark: white;
  --color-text-light: black;

  --color-accent-dark: lightgray;
  --color-accent-light: darkgray;
}

body {
  background-color: light-dark(var(--color-bg-light), var(--color-bg-dark));
  color: light-dark(var(--color-text-light), var(--color-text-dark));
}

.link-underline {
  a {
    text-decoration: underline;
  }

  a:hover {
    color: light-dark(var(--color-accent-light), var(--color-accent-dark));
  }
}