
// color variables
$background: black;
$background-alt: #242424;
$foreground: white;
$foreground-alt: #AFAFAF;
$background-text: #2f2f2f;

// import dos font faces
@font-face {
  font-family: "ModernDOS8x16";
  src: url("/fonts/ModernDOS8x16.ttf");
}

@font-face {
  font-family: "ModernDOS8x8";
  src: url("/fonts/ModernDOS8x8.ttf");
}

:root {
  // font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: 'ModernDOS8x16', monospace;

  // color-scheme: light dark;
  color: $foreground;
  background-color: $background;

  // disable antialiasing?
  font-synthesis: none;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: never;
}

// navbar styling
.navigation {
  background: $background-alt;

  font-family: "ModernDOS8x8";
  font-size: large;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 1em 1em 0em 1em;
  margin: -0.75em;
  justify-content: space-between;

  .pageLinks {
    justify-content: left;
  }

  .socialLinks {
    justify-content: right;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    float: right;
    padding: 1em;
  }

  a {
    font-weight: 500;
    color: $foreground-alt;
    text-decoration: inherit;
    background-color: $background;

    // border-width: 0.25em;
    // border-style: groove;
    
    padding: 0.75em;
  }

  ion-icon {
    // the ion icons are slightly off center??
    transform: translateY(25%);
  }

  a:hover {
    color: $foreground;
  }
}

.mainHeader {
  background: $background-alt;

  display: flex;
  align-items: center;
  justify-content: left;

  border-style: ridge;
  border-color: $background-alt;
  border-bottom-width: 0.5em;
  border-top-width: 0;

  margin: -0.75em;

  padding: 0em 1em 0em 2em;

  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
}

.pixelGrid {
  color: $background-text;

  width: 100%;

  position: fixed;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;

  user-select: none;
  top: 10em; // no idea what im doing bro

  gap: 0em;
  overflow: hidden;
  
  margin: 0;
  padding: 0;

  max-width: 100%;

  .pixelItem {
    transition: all 0.1s;
    // background-color: red;
    padding: 0.25em;
    font-size: x-large;
  }

  .pixelItem:hover {
    transform: scale(1.5);
  }
}

// body {
// }



// button {
//   border-radius: 8px;
//   border: 1px solid transparent;
//   padding: 0.6em 1.2em;
//   font-size: 1em;
//   font-weight: 500;
//   font-family: inherit;
//   background-color: #1a1a1a;
//   cursor: pointer;
//   transition: border-color 0.25s;
// }
// button:hover {
//   border-color: #646cff;
// }
// button:focus,
// button:focus-visible {
//   outline: 4px auto -webkit-focus-ring-color;
// }

// @media (prefers-color-scheme: light) {
//   :root {
//     color: #213547;
//     background-color: #ffffff;
//   }
//   a:hover {
//     color: #747bff;
//   }
//   button {
//     background-color: #f9f9f9;
//   }
// }
